.hg_archival.txt
.hgignore
.hgtags
.jcheck
ADDITIONAL_LICENSE_INFO
ASSEMBLY_EXCEPTION
bin
configure
CONTRIBUTING.md
doc
LICENSE
make
Makefile
README.md
src
test

.pc
build
build-zero
jtreg-test-output
stamps
config.log
configure.log

debian/files
debian/tmp
debian/.debhelper
debian/openjdk-16-*.debhelper.log
debian/openjdk-16-*.install
debian/openjdk-16-*.links
debian/openjdk-16-*.substvars

debian/openjdk-16-dbg
debian/openjdk-16-demo
debian/openjdk-16-doc
debian/openjdk-16-jdk-headless
debian/openjdk-16-jdk
debian/openjdk-16-jre-headless
debian/openjdk-16-jre-zero
debian/openjdk-16-jre
debian/openjdk-16-source

debian/README.alternatives
debian/openjdk-16-archive.applications
debian/openjdk-16-archive.keys
debian/openjdk-16-archive.mime
debian/openjdk-16-dbg.overrides
debian/openjdk-16-demo.menu
debian/openjdk-16-demo.overrides
debian/openjdk-16-doc.doc-base
debian/openjdk-16-fonts.defoma-hints
debian/openjdk-16-java.desktop
debian/openjdk-16-jconsole.desktop
debian/openjdk-16-jdk-headless.postinst
debian/openjdk-16-jdk-headless.preinst
debian/openjdk-16-jdk-headless.prerm
debian/openjdk-16-jdk.menu
debian/openjdk-16-jdk.postinst
debian/openjdk-16-jdk.prerm
debian/openjdk-16-jre-headless.overrides
debian/openjdk-16-jre-headless.postinst
debian/openjdk-16-jre-headless.postrm
debian/openjdk-16-jre-headless.prerm
debian/openjdk-16-jre-zero.overrides
debian/openjdk-16-jre.menu
debian/openjdk-16-jre.overrides
debian/openjdk-16-jre.postinst
debian/openjdk-16-jre.prerm
