Tests: hotspot, jaxp, langtools
Depends: @, default-jre-headless, jtreg (>= 4.2-b12-0~), testng, gcc
Restrictions: allow-stderr, skippable

Tests: jdk
Depends: @, default-jre-headless, jtreg (>= 4.2-b12-0~), testng, gcc, xfwm4, xvfb, dbus-x11
Restrictions: allow-stderr, skippable
